* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

#page {
  min-height: 200px;
  width: 60%;
  min-width: 600px;
  background: whitesmoke;
  margin: 50px auto;
  padding: 30px;
  color: #F73415;
}

.photo {
  width: 15%;
  min-width: 130px;
  float: left;
  margin-right: 20px;
}
.contact-info-box {
  width: 70.9%;
  display: inline-block;
}

.name {
  margin-bottom: -14px;
}
.job-title {
  display: inline-block;
}

.contact-details {
  background: #F73415;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 33px;
  padding: 8px;
  font-size: 14px;
}
.contact-details img {
  height: 16px;
  width: 15px;
  position: relative;
  padding-right: 6px;
  margin: -4px;
}
#objective h3 {
  border-bottom: 2px solid #F73415;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  margin: 30px 0 10px;
}

#objective p {
  padding: 0 5px;
  line-height: 25px;
  font-size: 14px;
  color: #000;
}

#education h3 {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  margin: 30px 0 10px;
  border-bottom: 2px solid #F73415;
}

#education table td {
  padding: 5px;
  font-size: 14px;
  color: black;
}

#education table tr td {
  padding-bottom: 20px;
}
#education table tr td:first-child {
  width: 120px;
  color: gray;
}

#work h3 {
  border-bottom: 2px solid #F73415;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  margin: 30px 0 10px;
}

#work table td {
  padding: 5px;
  font-size: 14px;
  color: black;
}

#work table tr.work-1 td:first-child {
  width: 120px;
  color: gray;
  padding-bottom: 25px;
}

#work table tr.work-1 td {
  padding-bottom: 20px;
}

#work table tr.work-2 td:first-child {
  width: 120px;
  color: gray;
}

#skills h3 {
  border-bottom: 2px solid #F73415;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  margin: 30px 0 10px;
}

#skills table td {
  padding: 8px;
  font-size: 15px;
  color: black;
}

#skills table tr td {
  width: 200px;
  padding-bottom: 20px;
}
